@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  background-color: #FFC2C2;
  min-height: 100vh;
}

.App .App-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .App-sections {
  width: 100%;
  max-width: 1200px;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  flex-shrink: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#about-me,
#projects,
#contact-me {
  scroll-margin-top: 140px;
}